.card {
    margin: 1%;
    width: 23%;
    border-radius: 9px;
    perspective: 1000px;
}

.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card__inner--flip {
    transform: rotateY(180deg);
}

.card__front, .card__back {
    position: absolute;
    border-radius: 9px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card__back {
    background-color: maroon;
    background: url("./cardImages/back.png");
    background-size: cover;
    color: black;
}

.card__front {
    background-color: whitesmoke;
    background-size: cover;
    color: black;
    transform: rotateY(180deg);
}